<div class="card  mt-5 mb-5 backColor">
    <h5 class="card-header colorTop">Registro de Estudiantes</h5>
    <form class="m-5" [formGroup]="formGroup">
        <div class="form-row">

            <div class="form-group col-md-4">
                <label for="inputState">Tipo de documento</label>
                <select id="inputState" class="custom-select" formControlName="documentType"
                    [ngClass]="{'is-invalid': control.documentType.errors}">
                    <option>seleccionar...</option>
                    <option>TI</option>
                    <option>RC</option>
                </select>

                <div *ngIf="control.documentType.errors" class="invalid-feedback">
                    <div *ngIf="control.documentType.errors.validatedocumentType">
                        {{ control.documentType.errors.messagedocumentType }}</div>
                </div>
            </div>

            <div class="form-group col-md-4">
                <label for="inputID">Numero de Documento</label>
                <input type="text" class="form-control" formControlName="identification" placeholder="Identificacion"
                    [ngClass]="{'is-invalid': control.identification.errors}">

                <div *ngIf="control.identification.errors" class="invalid-feedback">
                    <div *ngIf="control.identification.errors.required">se requiere la identificacion</div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="inputID">Nombre</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Nombre"
                    [ngClass]="{'is-invalid': control.name.errors}">

                <div *ngIf="control.name.errors" class="invalid-feedback">
                    <div *ngIf="control.name.errors.required">se requiere el nombre</div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label>Fecha</label>
                <input type="date" class="form-control" formControlName="dateOfBorn"
                    [ngClass]="{'is-invalid': control.dateOfBorn.errors}">
                <div *ngIf="control.dateOfBorn.errors" class="invalid-feedback">
                    <div *ngIf="control.dateOfBorn.errors.required">se requiere la fecha de nacimiento</div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="inputID">Nombre del instituto</label>
                <input type="text" class="form-control" formControlName="nameInstitute"
                    placeholder="Nombre del instituto" [ngClass]="{'is-invalid': control.nameInstitute.errors}">

                <div *ngIf="control.nameInstitute.errors" class="invalid-feedback">
                    <div *ngIf="control.nameInstitute.errors.required">se requiere el nombre del instituto</div>
                </div>
            </div>

            <div class="form-group col-md-4">
                <label for="inputID">Nombre del acudiente</label>
                <input type="text" class="form-control" formControlName="nameGuardian"
                    placeholder="Nombre del acudiente" [ngClass]="{'is-invalid': control.nameGuardian.errors}">

                <div *ngIf="control.nameGuardian.errors" class="invalid-feedback">
                    <div *ngIf="control.nameGuardian.errors.required">se requiere el nombre del acudiente</div>
                </div>
            </div>

        </div>


        <button type="button" id="btn-style" class="btn btn-primary" (click)="add()"
            [disabled]="formGroup.invalid">Registrar</button>
    </form>
</div>