<div class="card  mt-5 mb-5 backColor">
    <h5 class="card-header colorTop">Registro de Vacunas</h5>

    <form [formGroup]="formGroupStudent" class="mt-5">
        
        <div class="form-group col-md-7">
            <label for="inputID">Numero de Documento</label>
            <input type="text" class="form-control"  formControlName="identification" placeholder="Identificacion"
                [ngClass]="{'is-invalid': (controlStudent.identification.errors && controlStudent.identification.touched)}">

            <div *ngIf="controlStudent.identification.errors" class="invalid-feedback">
                <div *ngIf="controlStudent.identification.errors.required">se requiere la identificacion</div>
            </div>
            <br>
            
            <button (click) = "shared()" type="button" class="btn btn-primary" [disabled]="formGroupStudent.invalid">Buscar</button>
        </div>
        

        <div class="form-group col-md-6">
            <label for="inputID">Nombre</label>
            <input type="text" class="form-control"  formControlName="name" disabled />
        </div>
        <div class="form-group col-md-6">
            <label for="inputID">Nombre del instituto</label>
            <input type="text" class="form-control"  formControlName="nameInstitute" disabled />
        </div>
    </form>
    <form class="m-5" [formGroup]="formGroupVaccine">
        <div class="form-row">

            <div class="form-group col-md-4">
                <label for="inputID">Codigo vacuna</label>
                <input type="text" class="form-control" formControlName="idVaccine" placeholder="Codigo"
                    [ngClass]="{'is-invalid': (controlVacinne.idVaccine.errors && controlVacinne.idVaccine.touched)}">

                <div *ngIf="controlVacinne.idVaccine.errors" class="invalid-feedback">
                    <div *ngIf="controlVacinne.idVaccine.errors.required">se requiere el codigo</div>
                </div>
            </div>

            <div class="form-group col-md-4">
                <label for="inputState">Tipo de vacuna</label>
                <select id="inputState" class="custom-select" formControlName="vaccineType"
                    [ngClass]="{'is-invalid': (controlVacinne.vaccineType.errors && controlVacinne.vaccineType.touched)}">
                    <option>seleccionar...</option>
                    <option>Haemophilus influenza tipo B</option>
                    <option>Tdpa</option>
                    <option>DTPa</option>
                    <option>Hepatitis A</option>
                    <option>Hepatitis B</option>
                    <option>virus del papiloma Humano</option>

                </select>

                <div *ngIf="controlVacinne.vaccineType.errors" class="invalid-feedback">
                    <div *ngIf="controlVacinne.vaccineType.errors.validatevaccineType">
                        {{ controlVacinne.vaccineType.errors.messagedovaccineType }}</div>
                </div>
            </div>

           
            <div class="form-group col-md-4">
                <label>Fecha de vacunacion</label>
                <input type="date" class="form-control" formControlName="dateOfVaccine"
                    [ngClass]="{'is-invalid': (controlVacinne.dateOfVaccine.errors && controlVacinne.dateOfVaccine.touched)}">
                <div *ngIf="controlVacinne.dateOfVaccine.errors" class="invalid-feedback">
                    <div *ngIf="controlVacinne.dateOfVaccine.errors.required">se requiere la fecha de vacunacion</div>
                </div>
            </div>
        </div>


        <button type="button" id="btn-style" class="btn btn-primary" (click)="add()"
            [disabled]="formGroupVaccine.invalid">Registrar</button>
    </form>
</div>